.Footer {
    width: calc(100% - 20%);
    padding: 40px 10%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    img {
        width: 30%;
        max-width: 100px;
    }
    h4 {
        font-weight: 400;
        color: rgb(100, 100, 100);
        a {
            text-decoration: none;
            color: rgb(100, 100, 100);
        }
    }
}

