@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 80%;
  left: 50%;
  margin-left: -40%;
  position: relative;
  border: 0px;
  height: 1px;
  margin-bottom: 80px;
  background-color: #EFEFEF;
}

@media (min-width: 320px) and (max-width: 480px) {
  hr {
    margin-bottom: 20px;
  }
}