.SectionTitle {
    width: 100%;
    height: 60px;
    margin-top: 80px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.SectionTitleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SectionTitleText > h5 {
    color: #939393;
}

@media (min-width: 320px) and (max-width: 480px) {
    .SectionTitle {
        transform: scale(0.8);
        margin-top: 40px;
    }

}